header {
    position: fixed;
    z-index: 1;
    top: 0;
	display: flex;
	justify-content: space-between;
	background-color: #0f0f0f;
	padding: 20px 15px;
	width: 100%;

    .yusuf a {
        color: coral;
        font-family: pacifico;
        letter-spacing: 1px;
        font-size: 2rem;
        font-weight: 600;
        text-decoration: none;
    }

    nav {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            font-size: 1.5rem;
            margin: 0;

            li {
                margin-left: 18px;
                list-style: none;
            }

            li a {
                display: inline-block;
                width: 100px;
                padding: 6px 0;
                text-align: center;
                text-decoration: none;
                color: cornflowerblue;
            }

            li a:hover , li .active {
                background-color: cornflowerblue;
                color: #fff;
                border: 2px solid cornflowerblue;
                border-radius: 4px;
                box-shadow: 0 0 48px 1px;
            }

            li .active {
                background: none;
                color: cornflowerblue;
                cursor: pointer;
                letter-spacing: 1px;
            }
        }

        .toggle-btn {
            font-size: 1.5rem;
            text-align: right;
            display: none !important;
        }

        .button1 {
            color: cornflowerblue;
        }

        .button2 {
            color: red;
        }
    }
}

/* media queries for navigation starts */
@media only screen and (max-width: 768px){

    #navigation .toggle-btn {
		display: block !important;
	}
	#navigation .toggle-btn .button2 {
		display: none;
	}
	header nav .respul {
		display: none;
		align-self: center;
	}
}

@media only screen and (max-width: 425px) {
    
    header .respul {
		background-color: #0f0f0f;
		width: 100%;
		height: 100vh;
		position: absolute;
		top: 93px;
		left: 0;
	}
	.respul ul {
		flex-direction: column;
		padding: 0;
	}
	ul li {
		margin: 20px 18px;
	}
	ul li a {
		width: 100% !important;
		text-align: left !important;
		padding: 11px 15px !important;
		border-radius: 4px;
		background-color: #000;
	}
}
/* media queries for navigation ends */