* {
	box-sizing: border-box;
	margin: 0;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #000;
	color: #fff;
}

html{
	font-size: 15px;
}

h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}

@font-face {
	font-family: pacifico;
	src: url('../fonts/Pacifico-Regular.ttf');
}

// navigation starts
@import 'navigation';

/* main section starts here */
main {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	z-index: -1;
	display: flex;
	flex-flow: row wrap;
	overflow: hidden;
}
main .one, main .two {
	width: 50%;
	height: 100%;
	color: coral;
	display: flex;
	justify-content: center;
	align-items: center;
}
main .two {
	text-align: right;
	align-items: flex-end;
}
main .one .text{
	line-height: 98px;
	font-size: 7rem;
	font-weight: 600;
}
.one .white {
	color: #fff;
}
.one .text h1 {
	font-size: 7rem;
	font-weight: 600;
}
main .two .img img {
	width: 90%;
}
/* main section ends here */

/* media query starts here */
@media only screen and (max-width:768px) {

	/* main section starts here */
	main {
		overflow: auto;
		padding-top: 48px;
	}
	main .one {
		width: 100%;
	}
	main .two {
		text-align: right;
		align-items: flex-end;
		width: 100%;
	}
	main .two .img img {
		width: 68%;
	}
	/* main section ends here */
}

@media only screen and (max-width:425px) {

	main .one .text{
		line-height: 85px;
		font-size: 5.6rem;
	}
	.one .text h1 {
		font-size: 6rem;
	}
	main .two {
		height: 50%;
	}
	main .two .img img {
		width: 80%;
	}
}
/* media query ends here */