* {
	box-sizing: border-box;
	margin: 0;
}

body {
	margin: 0;
	background: #000;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
}

html{
	font-size: 15px;
}

h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}

@font-face {
	font-family: pacifico;
	src: url('../fonts/Pacifico-Regular.ttf');
}

header {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	background-color: #0f0f0f;
	padding: 20px 15px;
	width: 100%;
}
header .yusuf a {
	color: coral;
	font-family: pacifico;
	letter-spacing: 1px;
	font-size: 2rem;
	font-weight: 600;
	text-decoration: none;
}
header nav {
	display: flex;
	align-items: center;
}
header nav ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 1.5rem;
	margin: 0;
}
header nav .toggle-btn {
	font-size: 1.5rem;
	text-align: right;
	display: none !important;
}
header nav .button1 {
	color: cornflowerblue;
}
header nav .button2 {
	color: red;
}
nav ul li {
	margin-left: 18px;
	list-style: none;
}
nav ul li a {
	display: inline-block;
	width: 100px;
	padding: 6px 0;
	text-align: center;
	text-decoration: none;
	color: cornflowerblue;
}
nav ul li a:hover , nav ul li .active {
	background-color: cornflowerblue;
	color: #fff;
	border: 2px solid cornflowerblue;
	border-radius: 4px;
	box-shadow: 0 0 48px 1px;
}
nav ul li .active {
	background: none;
	color: cornflowerblue;
	cursor: pointer;
	letter-spacing: 1px;
}

/* main section starts here */
main {
	margin-top: 93px;
}
main .contact {
	max-width: 800px;
	margin: 0 auto;
}
main hgroup {
	padding-top: 58px;
	margin-bottom: 100px;
}
hgroup h1 {
	font-size: 6rem;
	font-weight: 600;
}
main .text {
	padding-left: 150px;
}
.text h1 {
	margin-bottom: 38px;
	font-weight: 600;
}
.text p {
	margin-bottom: 28px;
	font-size: 1.2rem;
	line-height: 33px;
}
.text a {
	display: block;
	color: red;
	font-weight: 600;
	font-size: 1.2rem;
	text-decoration: none;
	cursor: pointer;
	margin-bottom: 28px;
	transition-duration: 500ms;
}
.text a .message {
	display: none;
}
.text a:hover {
	transform: translateX(80px);
}
/* main section ends here */

/* media query */
@media only screen and (max-width:768px) {
	
	#navigation .toggle-btn {
		display: block !important;
	}
	#navigation .toggle-btn .button2 {
		display: none;
	}
	header nav .respul {
		display: none;
		align-self: center;
	}

	/* main section starts here */
	main {
		padding: 0 15px;
	}
	.text p {
		line-height: 20px;
	}
	/* main section ends here */
}

@media only screen and (max-width:425px) {
	
	header .respul {
		background-color: #0f0f0f;
		position: absolute;
		top: 90px;
		left: 0;
		width: 100%;
		height: 100vh;
	}
	.respul ul {
		flex-direction: column;
		padding: 0;
	}
	ul li {
		margin: 20px 18px;
	}
	ul li a {
		width: 100% !important;
		text-align: left !important;
		padding: 11px 15px !important;
		border-radius: 4px;
		background-color: #000;
	}

	main .text {
		padding-left: 80px;
	}
}